@import "../abctract/constant";

.keyboard {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1035px;
  margin: 0 auto;

  &__wrapper {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1035px;
}

  &__textarea {
    resize: none;
    margin-bottom: 20px;
    padding: 15px;
    height: 350px;
    width: 1005px;
    border-radius: 4px;
    background-color: $color-meta;
    border: 1px solid darken($color-meta, 4%);
    box-shadow: 0 2px 0 darken($color-meta, 5%), 2px 4px 6px darken($color-meta, 2%);
    color: black;
    outline : none;
    overflow : auto;
    @include font(normal, 400, 30px, 110%, 0.06em);
  }

  &__info {
    @include font(normal, 400, 15px, 110%, 0.06em);
    color: #5e6364;
    align-self: stretch;

    span {
      display: inline-block;
      margin: 0 1px;
      padding: 1px 6px;
      color: #5e6364;
      text-shadow: 0 1px 0 #fff;
      background-color: #e3e6e8;
      border: 1px solid #9fa6ad;
      border-radius: 3px;
      box-shadow: 0 1px 1px rgba(12, 13, 14, .15), inset 0 1px 0 0 #fff;
      overflow-wrap: break-word;
      font-size: 10px;
      vertical-align: bottom;
    }
  }
}