@font-face {
  font-family: 'Arial';
  src: url('../../assets/fonts/arial/Arial.eot');
  src: local('Arial'), local('ArialMT'),
  url('../../assets/fonts/arial/Arial.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/arial/Arial.woff2') format('woff2'),
  url('../../assets/fonts/arial/Arial.woff') format('woff'),
  url('../../assets/fonts/arial/Arial.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}